2_Donnees_entrantes/Hydrolball
2_Donnees_entrantes/NONNA
2_Donnees_entrantes/Polygone_domaine_grille
2_Donnees_entrantes/Topobathy_drone
2_Donnees_entrantes/Trait_de_cote_shapefile
5_Donnees_sortantes/nouveau_domaine_grille.csv
5_Donnees_sortantes/topobathy_drone.nc
5_Donnees_sortantes/xr_refined_grid.nc
5_Donnees_sortantes/xr_unrefined_grid.nc